@media (max-width: 375px) {
  html {
    font-size: 15px;
  }

  .main {
    background: url(../img/simple-house-01.jpg) no-repeat center center/cover;
    height: 70vh;
    width: 100vw;
  }

  /* #################  Showcase ################ */
  .showcase-container {
    flex-direction: column;
  }

  .row {
    padding: 0;
  }

  .box1 p {
    text-align: justify;
  }

  /* ###################### Read more ################# */

  .read-container {
    flex-direction: column;
  }
  .read {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .read p {
    padding-left: 30px;
  }

  /* <!-- ###################---History--############# --> */

  .his {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .history-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .history-img img {
    width: 375px;
  }
}

@media (max-width: 418px) {
  html {
    font-size: 13px;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  .ul {
    display: flex;
    justify-content: flex-start;
    padding-left: 300px;
  }
  .ul li {
    padding: 0;
  }

  .logo img {
    width: fit-content;
    height: fit-content;
  }

  .history {
    width: 100vw;
  }
}
